@import '/src/assets/styles/vars';

.notFound {
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 30px;

  p {
    font-size: 48px;
  }

  button {
    background: $background-blue;
    color: #fff;
    font-size: 24px;
    padding: 20px;
  }
}