@import 'src/assets/styles/vars';

.title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

.savedForLater {
  border-radius: 6px;
  border: 1px solid $border-color;
  padding: 20px;
  background: #fff;
}

.savedForLaterList {
  display: grid;
  gap: 20px;
  grid-template: auto / repeat(4, 1fr);
}

@media (max-width: 890px) {
  .savedForLaterList {
    grid-template: auto / repeat(3, 1fr);
  }
}

@media (max-width: 790px) {
  .savedForLater {
    border-radius: 0;
  }
}

@media (max-width: 720px) {
  .savedForLaterList {
    grid-template: auto / repeat(2, 1fr);
  }
}