$blue: #0D6EFD;
$filter-red: invert(38%) sepia(88%) saturate(7487%) hue-rotate(7deg) brightness(104%) contrast(106%);
$background-blue: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
$gray: #E0E0E0;
$border-color: #DEE2E7;
$red: #FA3434;
$p-color: #505050;