@import '/src/assets/styles/vars';

.searchContainer {
  display: grid;
}

.search {
  border-radius: 12px;
  background: linear-gradient(#fff, #fff) padding-box,
  $background-blue border-box;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 430px;

  input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: none;
    background: none;
  }
}

.clearIcon {
  opacity: .6;
  width: 22px;
  padding-left: 5px;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

.popUpSearch {
  position: absolute;
  width: 430px;
  z-index: 105;
  top: 74px;
  background: #fff;
  border: 1px solid $border-color;
  border-radius: 12px;
  overflow-y: auto;

  li {
    border-bottom: 1px solid $border-color;
    padding: 6px;

    &:last-child {
      border-bottom: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  img {
    height: 70px;
    width: 70px;
    object-fit: contain;
    border-radius: 6px;
  }

  p {
    font-size: 20px;
  }
}

@media (max-width: 990px) {
  .search {
    width: 330px;
  }

  .popUpSearch {
    width: 330px;
  }
}

@media (max-width: 890px) {
  .search {
    width: 260px;
  }

  .popUpSearch {
    width: 260px;

    a {
      gap: 10px;
    }

    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 790px) {
  .search {
    border: 1px solid $border-color;
    background: #F7FAFC;
    width: auto;
  }

  .popUpSearch {
    background: #F7FAFC;
    top: 120px;
    left: 20px;
    right: 20px;
    width: auto;

    a {
      gap: 6px;
    }

    p {
      font-size: 20px;
    }
  }
}